/* @media all and (max-width:1395px){
    #wrap .bg-wrap {background-size:100% auto;}
} */
@media all and (max-width:800px){
    #wrap .digital-wrap {left:0;margin-left:0;}
}
@media all and (max-width:490px){
    #wrap .clock-wrap {left:0;margin-left:0;}
}

@media all and (max-width:1395px) and (max-height:1285px){
#wrap .bg-wrap {background-size:auto 100%;}
}