@charset "UTF-8";

#wrap {width:100%;height:100%;}
#wrap .bg-wrap {z-index:1;position:relative;width:100%;height:100%;background:url(../img/lake-5488121_1920.jpg)no-repeat 0 0;background-size:cover;}
#wrap .clock-wrap {width:100%;max-width:490px;z-index:2;position:absolute;top:0;left:50%;margin-left:-240px;}
#wrap .clock-wrap li {position:absolute;top:0;left:0;}
#wrap .clock-wrap .clock {z-index:1;position:relative;}
#wrap .clock-wrap .hours {z-index:2;transform:rotate(0deg);}
#wrap .clock-wrap .minutes {z-index:3;transform:rotate(0deg);}
#wrap .clock-wrap .seconds {z-index:4;transform:rotate(0deg);}
#wrap .clock-wrap .center {z-index:5;}
#wrap .clock-wrap > li > img {width:100%;display:block;}

#wrap .digital-wrap {z-index:2;display:flex;width:100%;max-width:800px;margin:0 auto;position:absolute;bottom:0;left:50%;margin-left:-400px;}
#wrap .digital-wrap .digital {width:100%;display:flex;margin:0 15px;}
#wrap .digital-wrap .digital:first-child {justify-content:flex-end;}
#wrap .digital-wrap .digital > li {margin-right:10px;text-align:center;position:relative;color:rgba(255,255,255,.8);font-size:1.576458224vw;font-weight:900;line-height:80px;}
#wrap .digital-wrap .digital .hour  {font-size:3.152916448vw;}
#wrap .digital-wrap .digital .minute  {font-size:3.152916448vw;}
#wrap .digital-wrap .digital .second  {font-size:3.152916448vw;}

